---
layout: default
title: GridSchool
description: Coding | Self Growth | Lifestyle Design
keywords: Web Development, Product Design, UX Design, Lifestyle Design, Self Growth
---

{% include topbar.html %}
{% include main-categories-navbar.html %}

<div class="featured-container">
    {% for post in site.posts limit:2 %}
            {% include post-item.html %}
    {% endfor %}
    {% include ad-medium.html %}
</div>

<div class="grid-container">
    {% for post in site.posts %}
        {% if forloop.index > 2 %}
            {% include post-item.html %}
        {% endif %}
    {% endfor %}
</div>

{% include footer.html %}