---
layout: default
title: GridSchool
description: Coding | Self Growth | Lifestyle Design
keywords: Web Development, Product Design, UX Design, Lifestyle Design, Self Growth
---

{% include topbar.html %}
{% include main-categories-navbar.html %}
<!-- <div class="featured-post-container" style="padding-right: {{ page.paddingSides }}; padding-left: {{ page.paddingSides }};">
    {% include featured-post.html %}
</div> -->
<div class="half-half">
    <div class="content-left">
        {% for post in site.posts limit:1 %}
            <div class="mb-2">
                {% include post-item.html %}
            </div>
        {% endfor %}
    </div>
    <div class="content-right">
        {% include ad-large-skyscraper.html %}
    </div>
</div>

<div class="grid-container">
    {% for post in site.posts %}
        {% include post-item.html %}
    {% endfor %}
</div>

{% include footer.html %}