    {% if page.main == false %}
        <div class="categories-navbar">
            {% for category in site.all-categories %}
                {% if category.main == true %}
                    <a href="{{ category.url }}" class="category-item">{{ category.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div class="post-categories-nav">
            <h3>{{ page.name }}</h3>
            {% for category in site.all-categories %}
                {% if category.main == false and category.main_category == page.main_category %}
                    <a href="{{ category.url }}" class="category-item">{{ category.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <a href="/" class="all-categories-btn">All categories</a>
    {% endif %}
