<div class="post-details">
    {% for author in site.authors %}
        <div class="post-row">
            {% if author.path == page.author_path %}
                    <a href="{{ author.url }}" class="author-pic" style="background-image: url('{{ author.author_img | relative_url }}')"></a>
                    <div class="post-desc">
                        <a href="{{ author.url }}" class="post-author-name">{{ author.name }}</a>
                        <a href="#" class="post-date">{{ page.date | date_to_string }}</a>
                    </div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="post-share-options">
        <a href="#" class="btn-icon facebook"></a>
        <a href="#" class="btn-icon twitter"></a>
        <a href="#" class="btn-icon linkedin"></a>
    </div>
</div>