<div class="post-details">
    <div class="post-row">
        <a href="#" class="author-pic"></a>
        <div class="post-desc">
            <a href="#" class="post-author-name">author name</a>
            <a href="#" class="post-date">{{ post.date | date_to_string }}</a>
        </div>
    </div>
    <div class="post-share-options">
        <a href="#" class="btn-icon facebook"></a>
        <a href="#" class="btn-icon twitter"></a>
        <a href="#" class="btn-icon linkedin"></a>
    </div>
</div>