@import 'colors.sass'

body
    font-family: Avenir,Helvetica Neue,Helvetica,sans-serif
    display: block

*
    box-sizing: border-box

.logo
    background-image: url('../../assets/images/logo.svg')
    background-position: 0 0
    background-repeat: no-repeat
    background-size: contain
    display: block
    height: 2.2em
    width: 14em
    @media only screen and (max-width: 1112px)
        margin-left: 0

a
    text-decoration: none

h2
    font-size: 2em
    font-weight: bold
    line-height: 1.25
    margin: .5em 0 .3em 0
p
    color: $text
    display: flex
    flex-wrap: wrap
    font-weight: 400
    font-family: Avenir,Helvetica Neue,Helvetica,sans-serif
    font-size: 1.1em
    line-height: 1.4em
    margin: 0

code
    background-color: $light
    border-radius: .3em
    // margin: .5em 0
    padding: .8em 1.2em .8em 1.2em

figure
    width: 100%
    pre
        code
            width: 100%

.post-item
    align-items: flex-start
    display: flex
    flex-flow: column
    width: 100%
    .img
        background-color: $light
        background-position: 0 0
        background-size: cover
        border: solid .1em $gray
        background-repeat: no-repeat
        display: block
        height: 15em
        width: 100%

.ad-large-skyscraper
    background-color: $light
    display: block
    height: 600px
    width: 300px

footer
    align-items: center
    background-color: $dark
    display: flex
    justify-content: center
    padding: 4em
    width: 100%
    a
        color: white
        margin: 1em
