@import 'colors.sass'
@import 'syntax_highlights.scss'

$post-width: 700px

.topbar
    align-items: center
    border-bottom: solid .1em $gray
    display: flex
    justify-content: flex-start
    padding: 1em 6.6em
    width: 100%

.category-header
    display: flex
    flex-wrap: wrap
    padding: 4.7em 12% 0 13%
    width: 100%
    h1
        text-transform: capitalize
        width: 100%
    p
        margin-top: .5em
    hr
        border: 0
        height: .1em
        margin-top: 1.5em
        background: $gray
        width: 100%

.categories-navbar
    border-bottom: solid .1em $gray
    display: flex
    padding: 1em 6.6em 1em 6.6em
    flex-wrap: wrap
    width: 100%
    .category-item
        background-color: $primary
        border-radius: .3em
        color: white
        margin-right: .5em
        padding: .3em .5em
        text-transform: capitalize
        &:hover
            background-color: $primary-hover
    hr
        border: 0
        height: .1em
        margin-top: 1.5em
        background: $gray
        width: 100%

.featured-post-container
    display: flex
    justify-content: center
    padding: 3em 12% 2em 12%
    width: 100%
    @media only screen and (min-width: 1900px)
        padding: 3em 25% 2em 25%
    @media only screen and (min-width: 1400px)
        padding: 3em 20% 2em 20%
    @media only screen and (max-width: 1024px)
        padding: 3em 10% 2em 10%

.featured-container
    display: flex
    justify-content: flex-start
    margin: 0 0 0 0
    padding: 3em 12% 0 12%
    width: 100%
    @media only screen and (min-width: 1900px)
        padding: 3em 25% 2em 25%
    @media only screen and (min-width: 1400px)
        padding: 3em 20% 2em 20%
    @media only screen and (max-width: 1024px)
        padding: 3em 10% 2em 10%

.grid-container
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    margin: 0 -1em 0 0
    padding: 0 12% 2em 12%
    width: 100%
    @media only screen and (min-width: 1900px)
        padding: 0 25% 2em 25%
    @media only screen and (min-width: 1400px)
        padding: 0 20% 2em 20%
    @media only screen and (max-width: 1024px)
        padding: 0 10% 2em 10%

.post-container
    margin: 3em auto
    max-width: $post-width

.post-categories-nav
    align-items: center
    border-bottom: solid .1em $gray
    display: flex
    padding: 1em 6.6em 1em 6.9em
    flex-wrap: wrap
    width: 100%
    h3
        margin: 0 1em 0 0
        text-transform: capitalize
        a
            color: $black
            font-size: 1em
            font-weight: bold
            margin: 0
            text-transform: capitalize
    a
        color: $text
        font-size: .83em
        font-weight: 500
        margin: .3em 0 0 .8em
        text-transform: uppercase
.all-categories-btn
    background-color: $primary
    border-bottom-left-radius: .3em
    border-bottom-right-radius: .3em
    color: white
    left: 6.6em
    padding: .3em .5em
    position: absolute
    text-transform: capitalize
    top: 7.6em
.post-header
    align-items: center
    display: flex
    flex-flow: column
    justify-content: flex-start
    max-width: $post-width
    margin: 0 auto
    margin-top: 4em
    width: 100%
    h1
        justify-content: flex-start
        text-align: left
        width: 100%
    .subtitle
        justify-content: flex-start
        text-align: left
        width: 100%

.post-link
    h2
        color: $black
    p
        color: $text

.post-cover
    align-items: center
    display: flex
    height: 22em
    justify-content: center
    margin-top: 3em
    padding: 1em 6.6em
    overflow: hidden
    width: 100%
    img
        height: auto
        max-width: $post-width
        width: 100%

.post-details
    display: flex
    margin-top: .9em
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
    .row
        align-items: center
        display: flex
        width: 100%
    .post-row
        align-items: center
        display: flex
        width: 50%
    .author-pic
        background-color: $primary
        background-position: center
        background-repeat: no-repeat
        background-size: contain
        border-radius: 50%
        display: block
        height: 3.5em
        min-width: 3.5em
        margin-right: .5em
        width: 3.5em
    .post-desc
        display: flex
        flex-flow: column
        .post-author-name
            color: $primary
            margin-bottom: .15em
            text-transform: capitalize
            &:hover
                text-decoration: underline
        .post-date
            font-size: .83em
            &:hover
                text-decoration: underline
    .post-share-options
        align-items: center
        display: flex
        justify-content: flex-end
        width: 40%

.author-container
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 1em
    padding: 4em 12% 0 12%
    @media only screen and (min-width: 1900px)
        padding: 4em 25% 2em 25%
    @media only screen and (min-width: 1400px)
        padding: 4em 13% 2em 13%
    @media only screen and (max-width: 1024px)
        padding: 4em 10% 2em 10%
    .content-left
        display: flex
        .author-pic
            display: block
            height: 10em
            width: 10em
            img
                height: auto
                width: 100%
        .author-details
            margin: 0 2em 2em 2em
            width: 32em
            h2
                color: $black
                font-size: 1.1em
                line-height: 1.4em
            p
                font-size: 1.1em
                line-height: 1.4em
                margin-top: .3em
        .author-links
            align-items: center
            display: flex
            margin-left: -.5em
            justify-content: flex-start
    hr
        border: 0
        height: .1em
        margin-top: 4em
        background: $gray
        width: 100%

.fb_iframe_widget
    height: 1.3em
    width: auto

.post-container
    align-items: flex-start
    display: flex
    flex-flow: column
    justify-content: flex-start
    max-width: $post-width
    margin: 0 auto
    margin-top: 4em
    padding-bottom: 4em
    width: 100%
    img
        margin: 2em 0
        width: 100%
    h1, h2, h3, h4, h5, h6
        font-family: 'verdana'
        text-align: left
        width: 100%
    p

        color: $black
        font-size: 21px
        font-weight: 400
        line-height: 32px
        text-align: left
        strong
            padding-left: .3em
    li
        color: $black
        font-size: 21px
        line-height: 32px
        font-weight: 400
        font-family: Avenir,Helvetica Neue,Helvetica,sans-serif
        margin: 0
        &::marker
            font-weight: bold
    a
        color: $primary
        text-decoration: underline

    pre
        border-radius: .3em
        margin: .9em 0
        width: 100%
        code
            display: block
            height: auto
            line-height: 1.2em
            margin: 0
            padding: .9em
            width: 100%
